<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>email:</b>
  <%= @user.email %>
</p>

<% if current_user.id != @user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
